<!DOCTYPE html>
<html>
    <head>
      <title>Your favorite Futbol stats!</title>
      <link href="site/minimal-table.css" rel="stylesheet" type="text/css">
    </head>
    <body>

      <h1>Futbol Stats From Data!</h1>

      <h2>Game Stats</h2>

      <table>
        <tr>
          <th>Method</th>
          <th>Stat</th>
        </tr>
        <tr>
          <td>#highest_total_score</td>
          <td><%= stat_tracker.highest_total_score %></td>
        </tr>
        <tr>
          <td>#lowest_total_score</td>
          <td><%= stat_tracker.lowest_total_score %></td>
        </tr>
        <tr>
          <td>#percentage_home_wins</td>
          <td><%= stat_tracker.percentage_home_wins %></td>
        </tr>
        <tr>
          <td>#percentage_visitor_wins</td>
          <td><%= stat_tracker.percentage_visitor_wins %></td>
        </tr>
        <tr>
          <td>#percentage_ties</td>
          <td><%= stat_tracker.percentage_ties %></td>
        </tr>
        <tr>
          <td>#count_of_games_by_season</td>
          <td><%= stat_tracker.count_of_games_by_season %></td>
        </tr>
        <tr>
          <td>#average_goals_per_game</td>
          <td><%= stat_tracker.average_goals_per_game %></td>
        </tr>
        <tr>
          <td>#average_goals_by_season</td>
          <td><%= stat_tracker.average_goals_by_season %></td>
        </tr>

      </table>